// Theme barsed colo

$green: #47b55d!important;
$gray: #000!important;
$yellow: #fbd82a!important;
$vivid-green: #1de946!important;
$pink: #f15a29!important;
$black: #000!important;
$lipstick: #f15a29!important;
$white: #ffffff!important;
$purple: #4081d6!important;
$light-gray: #eeeeee!important;




// Theme barsed color class


.green{
 color: #47b55d!important;
}
.gray{
    gray: #9b9b9b!important;
}
.yellow{
    color: #fbd82a!important;
}
.vivid-green{
    color:#1de946!important;
}
.pink{
    color: #ed387b!important;
}
.black{
    color:#333333!important;
}
.lipstick{
    color: #cb1e4f!important;
}
.white{
    color: #ffffff!important;
}
.purple{
    color: #9238ed!important;
}
.light-gray{
    background: #E3EFFF!important;
}